body.debug:before {
	content: "STANDARD >= 1280";
	font-family: monospace;
	color: red;
}

/* LARGE */
@media screen and (max-width: 1024px) {
	body.debug:before {
		content: "768 <--> 1024";
	}
	:root {

	}
}

/* MEDIUM */
@media screen and (max-width: 768px) {
	body.debug:before {
		content: "MEDIUM: 640 <--> 768";
	}
	:root {

	}
}

/* SMALL */
@media screen and (max-width: 640px) {
	body.debug:before {
		content: "SMALL <= 640";
	}
	:root {
		--font-size: 1.1em;
	}

}