/* VARS */
:root {
	--font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;;
	--font-secondary: Georgia, "Times New Roman", Times, serif;
	--font-size: 1.25em;

	--color-text: #1E1E1E;
	--color-link: #0066ff;
	--color-link-hover: #0000ff;
	--color-link-visited: #5c20c0;

	--color-bg: #CCCCCC;
	--color-bg-light: #EFEFEF;
}