/* CLASSLESS */

body {
	font-family: var(--font-primary);
	font-size: var(--font-size);
	color: var(--color-text);
	line-height: 1.5em;
	letter-spacing: 0;
}

a {
	color: var(--color-link);
}

a:focus {
	outline: 2px solid;
	outline-offset: 2px;
}

a:hover,
a:visited:hover {
	color: var(--color-link-hover);
}

a:visited {
	color: var(--color-link-visited);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	line-height: 1.2em;
	margin-bottom: .3em;
}

h1 {
	font-size: 2.5em;
	margin-top: 0;
}

h2,
h3,
h4,
h5,
h6 {
	margin-top: .75em;
}

h1>a,
h2>a,
h3>a,
h4>a,
h5>a,
h6>a {
	text-decoration: none;
	color: var(--color-text);
}

h1>a:after,
h2>a:after,
h3>a:after,
h4>a:after,
h5>a:after,
h6>a:after {
	color: var(--color-bg);
	content: "#";
	font-weight: 400;
	margin-left: .25em;
}

h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
	color: var(--color-text);
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.35em;
}

h4 {
	font-size: 1.15em;
}

p {
	margin: 0 0 1.5em;
	font-weight: 400;
}

figcaption {
	margin-top: 0;
	font-size: .85em;
}

ul {
	margin: 1em;
}

ol {
	margin: 1em 1em 1em 0;
	list-style-position: inside;
}

li {
	line-height: 1.35em;
	margin-bottom: .5em;
}

h1, h2, h3, h4, li, a, figcaption {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

hr {
	margin: 2.5em auto;
	background-color: var(--color-bg);
	height: 1px;
}

code,
pre {
	background-color: var(--color-bg-light);
}

pre {
	overflow-x: auto;
	padding: 1rem 1.25rem;
	border-radius: .5rem;
}

pre code {
	padding: 0;
	line-height: 1.5em;
	display: inline-block;
	background-color: transparent;
}

code {
	padding: .2em .4em;
	border-radius: .25rem;
	font-family: monospace;
	font-weight: 400;
}

blockquote {
	background: var(--color-bg-light);
	border-left: .5rem solid #ccc;
	font-family: var(--font-secondary);
	font-style: italic;
	margin: 1em 0;
	padding: .5em;
	quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
	color: var(--color-bg);
	content: open-quote;
	font-size: 5em;
	line-height: 0;
	margin-right: .2em;
	margin-top: .4em;
	float: left;
}

blockquote p {
	display: inline;
}