@charset "UTF-8";
/*! Modesto CSS 1.0.2 */
/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

html {
  scroll-behavior: smooth; }

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed; }

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; }
  html {
    scroll-behavior: initial; } }

/* @nalmeida: Reseting margins, paddings and borders  */
figure,
hr,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  border: 0; }

/* VARS */
:root {
  --font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-secondary: Georgia, "Times New Roman", Times, serif;
  --font-size: 1.25em;
  --color-text: #1E1E1E;
  --color-link: #0066ff;
  --color-link-hover: #0000ff;
  --color-link-visited: #5c20c0;
  --color-bg: #CCCCCC;
  --color-bg-light: #EFEFEF; }

body.debug:before {
  content: "STANDARD >= 1280"; }

/* LARGE */
@media screen and (max-width: 1024px) {
  body.debug:before {
    content: "1024 <--> 768";
    color: green; } }

/* MEDIUM */
@media screen and (max-width: 768px) {
  body.debug:before {
    content: "MEDIUM: 768 <--> 640"; } }

/* SMALL */
@media screen and (max-width: 640px) {
  body.debug:before {
    content: "SMALL <= 640"; }
  :root {
    --font-size: 1.1em; } }

/* CLASSLESS */
body {
  font-family: var(--font-primary);
  font-size: var(--font-size);
  color: var(--color-text);
  line-height: 1.5em;
  letter-spacing: 0; }

a {
  color: var(--color-link); }

a:focus {
  outline: 2px solid;
  outline-offset: 2px; }

a:hover,
a:visited:hover {
  color: var(--color-link-hover); }

a:visited {
  color: var(--color-link-visited); }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2em;
  margin-bottom: .3em; }

h1 {
  font-size: 2.5em;
  margin-top: 0; }

h2,
h3,
h4,
h5,
h6 {
  margin-top: .75em; }

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: var(--color-text); }

h1 > a:after,
h2 > a:after,
h3 > a:after,
h4 > a:after,
h5 > a:after,
h6 > a:after {
  color: var(--color-bg);
  content: "#";
  font-weight: 400;
  margin-left: .25em; }

h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
  color: var(--color-text); }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.35em; }

h4 {
  font-size: 1.15em; }

p {
  margin: 0 0 1.5em;
  font-weight: 400; }

figcaption {
  margin-top: 0;
  line-height: .85em;
  font-size: .85em; }

ul {
  margin: 1em; }

ol {
  margin: 1em 1em 1em 0;
  list-style-position: inside; }

li {
  line-height: 1.35em;
  margin-bottom: .5em; }

hr {
  margin: 2.5em auto;
  background-color: var(--color-bg);
  height: 1px; }

code,
pre {
  background-color: var(--color-bg-light); }

pre {
  overflow-x: auto;
  padding: 1rem 1.25rem;
  border-radius: .5rem; }

pre code {
  padding: 0;
  line-height: 1.5em;
  display: inline-block;
  background-color: transparent; }

code {
  padding: .2em .4em;
  border-radius: .25rem;
  font-family: monospace;
  font-weight: 400; }

blockquote {
  background: var(--color-bg-light);
  border-left: .5rem solid #ccc;
  font-family: var(--font-secondary);
  font-style: italic;
  margin: 1em 0;
  padding: .5em;
  quotes: "“" "”" "‘" "’"; }

blockquote:before {
  color: var(--color-bg);
  content: open-quote;
  font-size: 5em;
  line-height: 0;
  margin-right: .2em;
  margin-top: .4em;
  float: left; }

blockquote p {
  display: inline; }

input[type=submit],
input[type=reset],
button {
  font-size: calc(var(--font-size) * .8);
  color: var(--color-text);
  border-radius: .5em;
  border: solid 1px var(--color-bg);
  background: #ffffff;
  padding: .5em .9em;
  box-shadow: 0px 0.25em 0px var(--color-bg);
  margin-bottom: .2em; }

input[type=submit]:hover,
input[type=reset]:hover,
button:hover {
  color: var(--color-link); }

input[type=submit]:active,
input[type=reset]:active,
button:active {
  box-shadow: none;
  position: relative;
  top: .2em; }
